body{
    background-color: #000000;
    font-family: 'freemono';
    min-height: 100vh;
}
h1{
    color: #ffffff;
    background-color: #000000;
    font-size: 100px;
    min-height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px #ffc0cb, 0 0 10px #ff002b;
}
a{
    color: #ffffff;
    font-size: 25px;
    padding: 20px;
    gap: 10px;
    text-decoration: none;
}
#Men, #Women, #Girlz, #Boyz, #Kidz{
    color: #ffffff;
    font-size: 25px;
}
.line{
    color: #ffffff;
}
h6{
    color: #ffffff;
}